<!DOCTYPE html>
<html>
<head>
  <title>ColorsAndStuff</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Project name</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav pull-right">
            <li><div class="btn-group">
              <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
                Options
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/colors">Colors</a></li>
                <li><a href="#" onclick="return false;">Show Grid</a></li>
                <li><a href="#" onclick="return false;">Width 900</a></li>
                <li><a href="#" onclick="return false;">Width 920</a></li>
                <li><a href="#" onclick="return false;">Width 940</a></li>
                <li><a href="#" onclick="return false;">Width 960</a></li>
                <li><a href="#" onclick="return false;">Width 980</a></li>
                <li><a href="#" onclick="return false;">Width 1000</a></li>
                <li><a href="#" onclick="return false;">Width 1020</a></li>
              </ul>
            </div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="hero-unit">
      <h1>Hello, bootstrap!</h1>
      <p>This is an example website with lots of bootstrap elements displayed on the homepage. The purpose is to change around colors and 
      stuff and see how you like 
      <a href="http://open.spotify.com/track/79LdvxXi5JYUjhnO7v9Fi3">the look</a>.  When you are happy with your choices, you can use these settings for a new website.</p>
      <p>
      <a class="btn btn-primary btn-large">Primary</a>
      <a class="btn btn-success btn-large">Success</a>
      <a class="btn btn-info btn-large">Info</a>
      <a class="btn btn-warning btn-large">Warning</a>
      <a class="btn btn-danger btn-large">Danger</a>
      <a class="btn btn-inverse btn-large">Inverse</a>
      <a class="btn btn-large">Default</a>
      </p>
    </div>

    <div class="row">
      <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div>
      <div class="span8">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

        <div class="alert alert-error">
          <strong>Strong Alert Text</strong>: This is an alert error message.
        </div>
        <div class="alert alert-success">
          <strong>Strong Alert Text</strong>: This is an alert success message.
        </div>
        <div class="alert alert-info">
          <strong>Strong Alert Text</strong>: This is an alert info message.
        </div>
      </div>
    </div>

    <hr>

    <footer>
    <p>&copy; Company 2012</p>
    </footer>

  </div>

</body>
</html>
